.paragraphe_déroulement{
  color: white; 
  text-shadow: 0 0 5px #000000;
  font-family: Garamond, serif;
  font-size: 20px;
}
.déroulement{
  text-shadow: 0 0 5px #ff4646;
  font-size: 50px;
}

.déroulement_img{ 
color: aliceblue; 
  border: 2px solid #ffffff;
  float: right;
}
.image_bottom{
  float: left;
  border: 2px solid #ffffff;
}
body{
  background-color:#000000;
  background-image: url('https://images.hdqwalls.com/wallpapers/bloodborne-knight-sword-4k-y1.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed; 
  background-size: 100% 100%;}
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  border: 2px solid #ffffff;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #630303;}
